name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
    

jobs:    
  lint:
    runs-on: ubuntu-latest
    steps:
    
      - uses: actions/checkout@v4
      - name: set up JDK 23
        uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'temurin'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
       
      - name: Run lint
        run: ./gradlew lintDebug
      - name: Upload html test report
        uses: actions/upload-artifact@v4
        with:
          name: index.html
          path: NavigatorX/build/reports/lint-results-debug.html
          
  unit_test:
    needs: [lint]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 23
        uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'temurin'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

        
      - name: Run test
        run: ./gradlew test
      - name: Upload html test report
        uses: actions/upload-artifact@v4
        with:
          name: unit_test_report
          path: NavigatorX/build/reports/tests/testDebugUnitTest/


  instrumentation_test:
    needs: [unit_test]
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: set up JDK 23
        uses: actions/setup-java@v4
        with:
          java-version: '23'
          distribution: 'temurin'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

        
      - name: Run espresso test
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 34
          script: ./gradlew/connectedCheck
      - name: Uploade test report
        uses: actions/upload-artifact@v4
        with:
          name: instrumentation_test_report
          path: NavigatorX/build/reports/androidTests/connected/
